transformers==4.33.1
accelerate==0.23.0
diffusers==0.22.0
gradio==4.8.0
pyyaml
pygame
opencv-python
info-nce-pytorch
kornia

shapely
scikit-image
pyclipper
lmdb
tqdm
numpy
rapidfuzz
opencv-python
opencv-contrib-python
cython
Pillow
pyyaml
requests
albumentations
# to be compatible with albumentations
albucore
packaging
scikit-learn
sortedcontainers
python-docx
beautifulsoup4
matplotlib
seaborn